@model exorderproject_core.DTO.PAKET
@{
    Layout = null;
}

<div class="modal-dialog modal-header-color modal-block-success">
    <div class="modal-content border-0 ">
        <section class="card border-0">
            <header class="card-header">
                <h2 class="card-title text-light">Paket Deteayları</h2>
            </header>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h3 class="text-danger" style="font-size: 64px!important">@Html.Raw(Model.IKON)</h3>
                        <h4 class="h4">@Model.ADI</h4>
                        <p>@Html.Raw(Model.ACIKLAMA)</p>
                        <hr />
                        <h4 class="title">@String.Format("{0:0.00}", Model.FIYAT) TL </h4>
                    </div>
                </div>
            </div>
            <footer class="card-footer text-right">
                <a href="/paket/satin-al/@Model.ID" class="btn btn-primary mr-3"><i class="fa fa-money-bill-wave text-light mr-3"></i>Satın Al</a>
                <button class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times text-light mr-3"></i>İptal</button>
            </footer>
        </section>
    </div>
</div>