@{
    ViewBag.Title = "Paketler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>PAKETLER</h2>
</header>

@Html.Action("_AldigimPaketler", "Paket")
@Html.Action("_AlabilecegimPaketler", "Paket")



