
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="page-header">
    <h2>KULLANICI LİSTESİ</h2>
    <div class="right-wrapper text-right">
    </div>
</header>
