@model halproject_core.Models.ForgotPassword
@{
    ViewBag.Title = "Şifremi Unuttum";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<section class="row justify-content-center px-2 pt-3 mt-lg-5">
    <div class="col-lg-4">
        <div class="center-sign">
            <div class="text-center">
                <a href="/">
                    <img src="~/Content/img/logo1.png" alt="" />
                </a>
            </div>
            <section class="body-sign">
                <div class="center-sign">
                    <div class="panel card-sign">
                        <div class="card-title-sign text-center">
                            <h1 class="title text-uppercase font-weight-bold m-0 py-1 px-5" style="font-size: 18px">ŞİFREMİ UNUTTUM</h1>
                        </div>
                        <div class="card-body">
                            @using (Ajax.BeginForm("SifremiUnuttumF", "Kullanici", new AjaxOptions { HttpMethod = "POST", OnSuccess = "Success", UpdateTargetId = "myForm", InsertionMode = InsertionMode.Replace }, new { id = "myForm", role = "form", autocomplete = "off" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="form-group mb-3">
                                    <label>Email Adresiniz</label>
                                    @Html.TextBoxFor(m => m.EMAIL, new { @class = "form-control", type = "text" })
                                </div>

                                <div class="row justify-content-center">
                                    <div class="col-lg-4">
                                        <button type="submit" class="btn btn-primary btn-block mt-2">Şifre Yenile</button>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <p>
                                            Henüz bir hesabınız yok mu? <a href="/kayit-ol">Kayıt Ol!</a> <br />
                                            Zaten bir hesabınız var mı? <a href="/giris-yap">Giriş Yap!</a>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <p class="text-center text-muted mt-3 mb-3">&copy; Copyright 2017. All Rights Reserved.</p>
                </div>
            </section>
        </div>
    </div>
</section>